body {
    background: rgba(143, 217, 252, 0.32);
    padding: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    font-size: 16px;
}

.search-container {
    border-radius: 10px;
    background: #FAF7F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.search-container>input {
    border: 0;
    outline: 0;
    font-size: 16px;
    background-color: transparent;
}

.recommend-container {
    font-size: 28px;
    font-weight: 400;
}

.recommend-container span {
    font-weight: bold;
}

.recommend-contents {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    column-gap: 20px;
}

.recommend-contents::-webkit-scrollbar-thumb {
    background: #e89a3e;
    /* 스크롤바 막대 색상 */
    border: 2px solid #9b6a2f;
    /* 스크롤바 막대 테두리 설정  */
    border-radius: 12px 12px 12px 12px;
}

.recommend-contents::-webkit-scrollbar-track {
    background: #9b6a2f;
    /* 스크롤바 뒷 배경 색상 */
}

.recommend-item {
    margin-top: 22px;
    width: 175px;
    height: 175px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.recommend-item>img {
    width: 110px;
    height: 110px;
}

.recommend-item>p {
    font-size: 16px;
    text-align: center;
}

.recommend-container>button {
    width: 100%;
    border-radius: 10px;
    background: #8FD9FC;
    padding: 19px;
    border: 0;
    margin-top: 68px;
    font-size: 16px;
}


/* 유진 코드 시작 */

.recommend {
    color: #000;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 4px;
}

.logo-container {
    margin-top: 5px;
}

.accent {
    color: #000;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrap {
    width: 100%;
    max-height: 220px;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(45deg, #ac8bef, #2ddbdc);
}

.swiper {
    width: 100%;
    max-height: 220px;
    height: 100%;
}

.swiper-slide {
    width: 200px;
    height: 175px;
    padding: 25px 10px;
    border-radius: 8px;
    background: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.swiper-slide > img {
    width: 150px;
    height: 150px;
}

.Add-menu {
    width: 100%;
    height: 60px;
    border-radius: 4px;
    background: #8FD9FC;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 스크롤 바 */
.swiper-scrollbar {
    background: rgba(217, 217, 217, 0.50); 
    border-radius: 10px; 
    height: 8px; 
}

.swiper-scrollbar .swiper-scrollbar-drag {
    background: #8FD9FC; 
    border-radius: 10px;
}

.popup {
    position: fixed;
    top: 50%; /* 중앙 위치 설정 */
    left: 50%; /* 중앙 위치 설정 */
    transform: translate(-50%, -50%); /* 화면 중앙에 배치 */
    flex-direction: column;
    width: 90%;
    max-width: 1000px;
    height: calc(590px + 55px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 20;
    border-radius: 10px;
    background-color: #fff;
    row-gap: 10px;
    padding: 70px 20px;
    overflow-y: auto;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.popup > .popupMenuName {
    position: absolute;
    top: 20px;
    left: 30px;
}

.popup-content {
    position: fixed;
    top: 50%; /* 중앙 위치 설정 */
    left: 50%; /* 중앙 위치 설정 */
    transform: translate(-50%, -50%); /* 화면 중앙에 배치 */
    background: #d2f1ff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    overflow-y: auto;
    max-width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#popup-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    row-gap: 20px;
    column-gap: 20px;
}

.popup > button {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: transparent;
    border: 0;
}

.popupItem {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.popupItem > img {
    width: 150px;
    height: 150px;
}

.popupItem > p {
    text-align: center;
}