<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/subway.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="logo-container">
        <img src="{% static 'images/MyWayYellow.png' %}" alt="">
    </div>

    <div class="container">
        <div class="title-container">
            <p></p>
            <div></div>
        </div>
        
        <div class="item-container">
            <div class="item">
                <img src="" alt="">
                <p></p>
            </div>
        </div>
    </div>

    <button onclick="nextPage()">다음</button>

    <script>
        const itemImg = document.querySelector('.item > img');
        const itemName = document.querySelector('.item > p');
        const pageName = document.querySelector('.title-container > p');
        const titleContainer = document.getElementsByClassName('title-container')[0];
        const itemContainer = document.getElementsByClassName('item-container')[0];
        let i = 0;
        let keys = [];
        let menuData = {};
        
        let saveCombis = []
        
        function saveCombi(menu) {
            console.log(menu)
            saveCombis.push(menu)
        }

        function getData() {
            const url = "{% static 'json/subway.json' %}";

            fetch(url)
                .then((res) => res.json())
                .then((data) => showData(data))
                .catch((error) => console.log(error));
        }

        function nextPage(){
            i++
            console.log(i)
            console.log(keys)
            console.log(menuData)
            showData(menuData)

            if(i >= 5) saveCombination()
        }

        function showData(data) {
            itemContainer.innerHTML = ""
            menuData = data
            Object.keys(data).forEach((category) => {
                console.log(category)
                keys.push(category)
            });
        
            // static 경로를 JavaScript 변수에 저장
            const staticPath = "{% static '' %}";

            data[keys[i]].forEach((item) => {
                const dataHTML = `<div class="item" onclick="saveCombi(this)">
                                        <img src="${staticPath}${item["image"]}" alt="">
                                        <p>${item["name"]}</p>
                                </div>`;
                itemContainer.innerHTML += dataHTML;
                pageName.textContent = `${keys[i]}`; 
            })
        
            
        }


        function saveCombination() {
            fetch("{% url 'save_combination' %}", {
                method:"POST",
                headers : {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body : JSON.stringify(saveCombis)
            })
            .then(response => response.json())
            .then(data => {
                if(data.status === "success") {
                    alert(data.message)
                } else {
                    alert("저장 실패 : " + data.message)
                }
            })
            .catch(error => console.error("Error : ", error))
        }
        

        getData();
    </script>
</body>
</html>
