<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/subway.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="logo-container">
        <img src="{% static 'images/MyWayYellow.png' %}" alt="">
    </div>

    <div class="container">
        <div class="title-container">
            <p></p>
            <div></div>
        </div>
        
        <div class="item-container">
            <div class="item">
                <img src="" alt="">
                <p></p>
            </div>
        </div>
    </div>

    <script>
        const itemImg = document.querySelector('.item > img');
        const itemName = document.querySelector('.item > p');
        const pageName = document.querySelector('.title-container > p');
        const titleContainer = document.getElementsByClassName('title-container')[0];
        const itemContainer = document.getElementsByClassName('item-container')[0];

        function getData() {
            const url = "{% static 'json/subway.json' %}";

            fetch(url)
                .then((res) => res.json())
                .then((data) => showData(data))
                .catch((error) => console.log(error));
        }

        function showData(data) {
            console.log(data);
        
            // static 경로를 JavaScript 변수에 저장
            const staticPath = "{% static '' %}";
        
            Object.keys(data).forEach((category) => {
                console.log(category); // 카테고리 이름 출력
                data[category].forEach((item) => {
                    console.log(item); // 각 아이템 출력
        
                    // staticPath와 이미지 경로를 결합해 src 생성
                    const dataHTML = `<div class="item">
                                        <img src="${staticPath}${item["image"]}" alt="">
                                        <p>${item["name"]}</p>
                                      </div>`;
                    itemContainer.innerHTML += dataHTML;
                    pageName.textContent = `${category}`; 
                });
            });
        }
        

        getData();
    </script>
</body>
</html>
